{% extends 'base.html' %}

{% block header %}
<div style="padding: 20px">
  <h1>{% block title %}All visits{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}


{% if visitors %}
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Time</th>
      <th>IP address</th>
      <th>User Agent</th>
      <th>UUID</th>
    </tr>
  </thead>
  <tbody>
    {% for visitor in visitors %}
    <tr>
      <td>{{ visitor.time }}</td>
      <td>{{ visitor.ip_address }}</td>
      <td>{{ visitor.user_agent }}</td>
      <td>{{ visitor.uuid }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
