<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QR code logger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div>


    {% if visitors %}
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>IP address</th>
          <th>User Agent</th>
          <th>UUID</th>
        </tr>
      </thead>
      <tbody>
      {% for visitor in visitors %}
        <tr>
          <td>{{ visitor.time }}</td>
          <td>{{ visitor.ip_address }}</td>
          <td>{{ visitor.user_agent }}</td>
          <td>{{ visitor.uuid }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
</div>

</body>
</html>
