{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create QR code{% endblock %}</h1>
{% endblock %}
{% block content %}
<div>
  <form method="POST">
    URI: {{ qr_uri }}
    <br>
    Redirect URI (leave blank to redirect to stats page): <input type="text" name="redirect_uri" size="60">
    <br>
    Name: <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
</div>

{% if qr_data %}
    <div>
      <br>
    <img src="{{ qrcode('qr_data', error_correction='H')}}">

</div>
{% endif %}
{% endblock %}
