<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QR code logger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div>
  {% if current_user.is_authenticated %}
    <a href="{{url_for('createqr')}}">Create new QR Campaign</a>
    |
    <a href="{{ url_for('view_campaigns') }}">View Campaigns</a>
    |
    Logged in as {{ current_user.id }}
    |
    <a href="{{ url_for('logout')}}">Logout</a>
  {% endif %}

    {% if user_ip %}
      <p>Your client: {{ user_ip }} - {{ user_agent }}</p>


    {% else %}


    <h2>{{ this_qr.name }}</h2>
    QR code: <img src="{{ qrcode(this_qr.qr_data, error_correction='H')}}">

    {# QR data: {{this_qr.uuid}} #}

    {% endif %}


    {% if visitors %}
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>IP address</th>
          <th>User Agent</th>
        </tr>
      </thead>
      <tbody>
      {% for visitor in visitors %}
        <tr>
          <td>{{ visitor.time }}</td>
          <td>{{ visitor.ip_address }}</td>
          <td>{{ visitor.user_agent }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
</div>

</body>
</html>
