{% extends 'base.html' %}

{% block header %}
<div style="padding: 20px">
  <h1>{% block title %}
    {% if this_qr %}
      {{ this_qr.name }}
    {% else %}
    Index
    {% endif %}{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}



<div>
  {% if not current_user.is_authenticated %}
  <p>
    If you have reached this page, you have scanned a QR code that you found somewhere.
    This is part of an information security experiment.
    None of your personal data has been collected, beyond what is sent to any website you visit.
    This page and the QR code you scanned are not dangerous, but others could be.
  </p>
  <p>
    QR codes could be used in "phishing" attacks <a href="https://en.wikipedia.org/wiki/Phishing">https://en.wikipedia.org/wiki/Phishing</a>
    Instead of this page, you could have asked for login information that could be used to steal information.

    My hope is that this will remind people to treat QR codes the same as random links sent via email.

    The code that powers this page is available on < a href="https://github.com/haicenhacks/qr-tracker">github</a>.
    For concerns


    The extent of information collected is shown below:
  </p>
  {% endif %}
  {% if user_ip %}
    <p>Your client: {{ user_ip }} - {{ user_agent }}</p>
  {% else %}
    QR code: <img src="{{ qrcode(this_qr.qr_data, error_correction='H')}}" class="img-fluid">
    <div>
      Clickable link: <a href="{{ this_qr.qr_data }}">{{ this_qr.qr_data }}</a>
    </div>
    <div>
      Redirect: <a href="{{ this_qr.redirect_uri }}">{{ this_qr.redirect_uri }}</a>
    </div>
    {# QR data: {{this_qr.uuid}} #}
    {% if current_user.is_authenticated %}
    <div style="padding-top: 10px;">
      <a href="{{ url_for('edit_uuid', id=this_qr.uuid)}}" class="btn btn-primary btn-lg" tabindex="-1" role="button">Edit</a>

      <a href="{{ url_for('delete_uuid', id=this_qr.uuid)}}" class="btn btn-danger btn-lg" tabindex="-1" role="button">Delete</a>
    </div>

    {% endif %}


    {% if visitors %}
     <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>IP address</th>
          <th>User Agent</th>
        </tr>
      </thead>
      <tbody>
      {% for visitor in visitors %}
        <tr>
          <td>{{ visitor.time }}</td>
          <td>{{ visitor.ip_address }}</td>
          <td>{{ visitor.user_agent }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
    {% endif %}
</div>

{% endblock %}
