{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}
{% block content %}



<div>

    {% if user_ip %}
      <p>Your client: {{ user_ip }} - {{ user_agent }}</p>


    {% else %}


    <h2>{{ this_qr.name }}</h2>
    QR code: <img src="{{ qrcode(this_qr.qr_data, error_correction='H')}}">

    {# QR data: {{this_qr.uuid}} #}

    {% endif %}


    {% if visitors %}
     <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>IP address</th>
          <th>User Agent</th>
        </tr>
      </thead>
      <tbody>
      {% for visitor in visitors %}
        <tr>
          <td>{{ visitor.time }}</td>
          <td>{{ visitor.ip_address }}</td>
          <td>{{ visitor.user_agent }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
    {% endif %}
</div>

{% endblock %}
